@import "../less-lib/lib.less";//共通ライブラリ
@import "reset.less";
@import "base.less";
/* main.css */
html,body{
	position: relative;
}
*{
	box-sizing:border-box;
}
main{
	padding-top:20px;
}
@tableBgc:rgb(203,225,219);
@gridSize:54px;
@boardSize:(@gridSize+1)*8+20;
.gameBoard {
	overflow: auto;
	width:@boardSize;
	height:@boardSize;
	background-color:@tableBgc;
	padding-left:10px;
	padding-top:10px;
	margin:0 auto;
	border:4px solid rgb(183,213,213);
	border-radius: 4px;
	&__grid{
		float:left;
		width:@gridSize;
		height:@gridSize;
		position: relative;
		border-right:1px solid @tableBgc;
		border-bottom:1px solid @tableBgc;
		position:relative;
		background-color:green;
		overflow: hidden;
	}
	&__stone{
		display: block;
		width:90%;
		height:90%;
		position: absolute;
		margin:auto;
		left:1px;
		top:1px;
		right:1px;
		bottom:1px;
		word-wrap: break-word;
		&--0{
			
		}
		&--1{
			background-color:black;
			border-radius: 50%;
		}
		&--2{
			background-color:white;
			border-radius: 50%;
		}
	}
}
/* 時計用数字共通 */
[class^="time-str-"]{
	background-image:url(../img/number-place/number_time.png);
	display: inline-block;
	overflow: hidden;
	white-space: nowrap;
	text-indent: 100%;
	background-size:23px 320px;
	width:23px;
	height:32px;
}
@strh:32px;
.time-str{
	&-0{
		background-position:0 0;
	}
	&-1{
		background-position:0 -1*@strh;
	}
	&-2{
		background-position:0 -2*@strh;
	}
	&-3{
		background-position:0 -3*@strh;
	}
	&-4{
		background-position:0 -4*@strh;
	}
	&-5{
		background-position:0 -5*@strh;
	}
	&-6{
		background-position:0 -6*@strh;
	}
	&-7{
		background-position:0 -7*@strh;
	}
	&-8{
		background-position:0 -8*@strh;
	}
	&-9{
		background-position:0 -9*@strh;
	}
	&-colon{
		background-image:url(../img/number-place/colon.png);
		background-size:23px 32px;
	}
}
.hint{
	color:#000000;
}
footer{
	text-align:center;
}

[class^="btn-mode-"]{
	background-size: 142px/2 152px/2;
	width:142px/2;
	height:152px/2;
	overflow: hidden;
	text-indent:100%;
	white-space: nowrap;
}
.btn-mode-answer{
	background-image: url(../img/number-place/pencil.png);
	&.active{
		background-image: url(../img/number-place/pencil_active.png);
	}
}
.btn-mode-memo{
	background-image: url(../img/number-place/memo.png);
	&.active{
		background-image: url(../img/number-place/memo_active.png);
	}
}
.btn-mode-clear{
	background-image: url(../img/number-place/eraser.png);
	&:active,
	&.active{
		background-image: url(../img/number-place/eraser_active.png);
	}
}
[class^="btn-num-"]{
	background-size: 142px/2 152px/2;
	width:142px/2;
	height:152px/2;
	overflow: hidden;
	text-indent:100%;
	white-space: nowrap;
	&.active{
		position: relative;
		&::after{
			content:"";
			width:142px/2;
			height:152px/2;
			background-color:rgba(255,255,255,0.4);
			-webkit-mask-box-image: url(../img/number-place/btn1.png);
			display: block;
			position: absolute;
			left:0;
			top:0;
		}
	}
}
.btn-num-1{
	background-image: url(../img/number-place/btn1.png);
}
.btn-num-2{
	background-image: url(../img/number-place/btn2.png);
}
.btn-num-3{
	background-image: url(../img/number-place/btn3.png);
}
.btn-num-4{
	background-image: url(../img/number-place/btn4.png);
}
.btn-num-5{
	background-image: url(../img/number-place/btn5.png);
}
.btn-num-6{
	background-image: url(../img/number-place/btn6.png);
}
.btn-num-7{
	background-image: url(../img/number-place/btn7.png);
}
.btn-num-8{
	background-image: url(../img/number-place/btn8.png);
}
.btn-num-9{
	background-image: url(../img/number-place/btn9.png);
}
/* スタートシーン */
.scene-start{
	position: absolute;
	left:0;
	top:0;
	width:100%;
	height:100%;
	background-color: rgba(255,255,255,0.9);
	z-index:1;
	.label-holder{
		margin-top:120px;
		text-align: center;
	}
	.label-start{
		display: inline-block;
		width:600px;
		height:210px;
		background-image: url(../img/number-place/start.png);
		background-size: 600px 210px;
		overflow: hidden;
		text-indent:100%;
		white-space: nowrap;
	}
	.btn-holder{
		margin-top:80px;
		text-align: center;
	}
	.btn-start-game{
		display: inline-block;
		width:363px;
		height:84px;
		background-image: url(../img/number-place/play.png);
		background-size: 363px 84px;
		overflow: hidden;
		text-indent:100%;
		white-space: nowrap;
	}
}
.label-start.fadeout{
	animation: fadeout .5s;
	animation-fill-mode: forwards;
}

/* クリアシーン */
.scene-clear{
	position: absolute;
	left:0;
	top:0;
	width:100%;
	height:100%;
	background-color: rgba(255,255,255,0.9);
	z-index:1;
	.label-holder{
		margin-top:60px;
		text-align: center;
	}
	.label-clear{
		display: inline-block;
		width:600px;
		height:210px;
		background-image: url(../img/number-place/clear.png);
		background-size: 600px 210px;
		overflow: hidden;
		text-indent:100%;
		white-space: nowrap;
		&.v-enter{
			animation:cutin 0.5s;
			animation-fill-mode: forwards;
		}
	}
	.score{
		text-align: center;
		.label{
			display: inline-block;
			width:94px;
			height:32px;
			background-image: url(../img/number-place/time2.png);
			background-size: 94px 32px;
			overflow: hidden;
			text-indent:100%;
			white-space: nowrap;
		}
		.value{
			display: inline-block;
			margin-left:10px;
		}
	}
	.btn-reg-score{
		margin-top:80px;
		display: inline-block;
		width:363px;
		height:69px;
		background-image: url(../img/number-place/reg_score.png);
		background-size: 363px 69px;
		overflow: hidden;
		text-indent:100%;
		white-space: nowrap;
	}
	.notice{
		margin-top:10px;
		text-align: center;
		line-height:2em;
		font-size:16px;
	}
	.btn-holder{
		text-align: center;
	}
	.btn-play-again{
		margin-top:40px;
		display: inline-block;
		width:363px;
		height:84px;
		background-image: url(../img/number-place/play_again.png);
		background-size: 363px 84px;
		overflow: hidden;
		text-indent:100%;
		white-space: nowrap;
	}
}

@keyframes cutin {
    0% {
        transform: scale(0) translate(0,-150px);
    }
    50% {
        transform: scale(1.5) translate(0,10px);
    }
    100% {
        transform: scale(1) translate(0,0px);
    }
}
@keyframes fadeout {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.5);
    }
    100% {
        transform: scale(0);
    }
}